<!DOCTYPE html>
<html lang="kr">
	<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>It's time to do!</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
{{>layout/navbar}}
<div class="container">
	<div class="mt-5"></div>