{{>layout/header}}
	<div class="px-5 text-left">
		{{#board}}
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<h4 class="" id="title">{{title}}</h4>
		</div>
		<hr>
		<div class="mb-3">
			<label for="content" class="form-label">Content</label>
			<p class="border rounded px-2 py-2 pb-5" id="content">{{content}}</p>
		</div>
			<div class="justify-content-end d-flex mb-2">
				<span class="me-3">{{updateDate}}</span><strong class="text-primary">{{user.name}}</strong>
			</div>
		<div class="justify-content-end d-flex pb-3">
			<a href="/board/{{id}}/update" class="btn btn-primary me-3">수정</a>
			<a href="/board/{{id}}/delete" class="btn btn-primary">삭제</a>
		</div>
		<hr>
		
		<label for="reply" class="form-label">Reply</label>
		<div id="reply">
			<form method="post" action="/board/{{id}}/reply/create" name="replyForm">
				<textarea class="form-control" rows="3" name="content"></textarea>
				<div class="justify-content-end d-flex my-2">
					<button class="btn btn-secondary">댓글등록</button>
				</div>
			</form>
			{{#replies}}
			<div class="replyBox">
			<br>
			<p class="border rounded px-2 py-2 pb-5" id="content">{{content}}</p>
			<div class="justify-content-end d-flex my-2">
				<div class="justify-content-end d-flex mb-2">
					<span class="me-3">{{updateDate}}</span><strong class="text-secondary me-3">{{user.name}}</strong>
				</div>
				<a href="/board/{{board.id}}/reply/{{id}}/delete" class="btn btn-secondary deleteBtn">삭제</a>
			</div>
			</div>
			{{/replies}}
		</div>
		{{/board}}
	</div>
	<script>
		$(document).on("click", "a.deleteBtn", (e) => {
		//$("a.deleteBtn").click((e)=>{
			e.preventDefault();
			var deleteBtn = e.target;
			var url = e.target.getAttribute("href");
			$.ajax({
				type: "delete",
				url: url,
				dataType: "json",
				error: (request, status, error) => {
					alert(status);
				},
				success: (data) => {
					if (!data.valid){
						alert(data.message);
					} else {
						$(deleteBtn).closest("div.replyBox").remove();
					}
				}
			})
		});
		
		/**
		$("form[name='replyForm'").find("button").click((e)=>{
			e.preventDefault();
			var form = $("form[name='replyForm']");
			var queryString = form.serialize();
			var url = form.attr("action");
			$.ajax({
				type: "post",
				url: url,
				data: queryString,
				error: (request, status, error) => {
					alert(status);
				},
				success: (data, status) => {
					if(data === '' || data === undefined) {
						alert("Sorry! It's failed");
						return;
					}
					var template = makeTemplate(data.content, data.updateDate, data.user.name, data.board.id, data.id);
					$("#reply").append(template);
					$("form[name='replyForm']").find("textarea[name='content']").val('');
				}
			});
		});
		*/
		
		function makeTemplate(content, updateDate, username, boardId, replyId) {
			let template = 
				`<div class="replyBox">
				<br>
				<p class="border rounded px-2 py-2 pb-5" id="content">${content}</p>
				<div class="justify-content-end d-flex my-2">
					<div class="justify-content-end d-flex mb-2">
						<span class="me-3">${updateDate}</span><strong class="text-secondary me-3">${username}</strong>
					</div>
					<a href="/board/${boardId}/reply/${replyId}/delete" class="btn btn-secondary deleteBtn">삭제</a>
				</div>
				</div>`
			return template;
		}
	</script>
	<script src="/js/board.js" />
{{>layout/footer}}