{{>layout/header}}
	<div class="px-5 text-left">
		{{#board}}
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<h4 class="" id="title">{{title}}</h4>
		</div>
		<hr>
		<div class="mb-3">
			<label for="content" class="form-label">Content</label>
			<p class="border rounded px-2 py-2 pb-5" id="content">{{content}}</p>
		</div>
			<div class="justify-content-end d-flex mb-2">
				<span class="me-3">{{updateAt}}</span><strong class="text-primary">{{user.name}}</strong>
			</div>
		<div class="justify-content-end d-flex pb-3">
			<a href="/board/{{boardId}}/update" class="btn btn-primary me-3">수정</a>
			<a href="/board/{{boardId}}/delete" class="btn btn-primary">삭제</a>
		</div>
		<hr>
		
		<label for="reply" class="form-label">Reply</label>
		<div id="reply">
			<form method="post" action="/board/{{boardId}}/reply/create" name="replyForm">
				<textarea class="form-control" rows="3" name="content"></textarea>
				<div class="justify-content-end d-flex my-2">
					<button class="btn btn-secondary">댓글등록</button>
				</div>
			</form>
			{{#replies}}
			<br>
			<div class="replyBox">
			<p class="border rounded px-2 py-2 pb-5" id="content">{{content}}</p>
			<div class="justify-content-end d-flex my-2">
				<div class="justify-content-end d-flex mb-2">
					<span class="me-3">{{updateAt}}</span><strong class="text-secondary me-3">{{user.name}}</strong>
				</div>
				<a href="/board/{{boardId}}/reply/{{replyId}}/delete" class="btn btn-secondary deleteBtn">삭제</a>
			</div>
			</div>
			{{/replies}}
		</div>
		{{/board}}
	</div>
	<script>
		$("a.deleteBtn").click((e)=>{
			e.preventDefault();
			var deleteBtn = e.target;
			var url = e.target.getAttribute("href");
			$.ajax({
				type: "delete",
				url: url,
				dataType: "json",
				error: (request, status, error) => {
					alert(status);
				},
				success: (data) => {
					if (!data.valid){
						alert(data.message);
					} else {
						$(deleteBtn).closest("div.replyBox").remove();
					}
				}
			})
		});
		
		$("form[name='replyForm'").find("button").click((e)=>{
			e.preventDefault();
			alert("test")
		});
	</script>
{{>layout/footer}}