{{>layout/header}}
<ol class="list-group list-group-numbered">
  {{#list}}
  <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
    <a class="ms-2 me-auto" href="/board/{{boardId}}/detail">
      <div class="fw-bold">{{title}}</div>
      {{content}}
    </a>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  {{/list}}
</ol>
<a href="/board/form" class="btn btn-primary pull-right m-3" role="button">질문하기</a>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
  </ul>
</nav>
{{>layout/footer}}