{{>layout/header}}
	<div class="px-4 pt-5 my-5 text-left">
		<div class="container">
	  <div class="row justify-content-md-center">
	    <div class="col">Number</div>
	    <div class="col">ID</div>
	    <div class="col">Name</div>
	    <div class="col">Email</div>
	  </div>
	  {{#user}}
	  <div class="row justify-content-md-center">
	    <div class="col">{{id}}</div>
	    <div class="col">{{userId}}</div>
	    <div class="col">{{name}}</div>
	    <div class="col">{{email}}</div>
	  </div>
	  {{/user}}
	</div>
	</div>
{{>layout/footer}}