{{>layout/header}}
	<div class="px-5 text-left">
		<form method="post" action="/user/login">
			<div class="mb-3">
				<label for="userId" class="form-label">ID</label>
				<input type="text" class="form-control" id="userId" name="userId">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">로그인</button>
		</form>
	</div>
	{{#message}}
	<script>
		alert("{{.}}");
	</script>
	{{/message}}
{{>layout/footer}}